
    {{> head }}
    {{> navbar}}
  
  <div class="row">
      <div class="col-8">
          <h1>About</h1>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada massa ut dui placerat lacinia pulvinar et purus. Curabitur gravida venenatis cursus. Vivamus malesuada porttitor mauris, a ultricies ipsum semper at. Etiam sollicitudin sapien nec aliquet congue. Sed sem augue, posuere a tellus quis, accumsan auctor nibh. Donec feugiat, orci quis maximus porta, dui est semper augue, gravida facilisis diam tellus at lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur quis placerat odio. Fusce dignissim eros vel velit euismod, a tincidunt leo elementum. Nunc lectus mi, pretium imperdiet mollis a, pretium a justo. Cras tincidunt, turpis vitae porta fringilla, tortor tortor elementum massa, nec ornare lacus lacus ac libero. Etiam rhoncus sem sit amet est pellentesque, sed fermentum elit fermentum. Praesent posuere fringilla magna. Nulla vehicula, erat vel imperdiet scelerisque, nibh libero dapibus justo, vel tristique nisi erat vel mi. Nulla ullamcorper iaculis tortor. Aenean mollis ligula massa, nec rutrum tellus consequat sed.
              </p>
      </div>

        <div class="col-4">
            <img src="assets/img/logo.png" class="">

        </div>


  </div>
{{> footer}}






